@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --text-color: #252B42;
    --second-text-color: #737373;
    --primary-color: #FF7B47;
    --secondary-color: #0D5C63;
}

body {
    background-image: url("img/temp1.jpeg");
    background-repeat: no-repeat;
    background-size: contain; 
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.h1{
    font-size: 50px;
}

header{
    height: 500px;
}

.links{
    list-style: none;
    text-decoration: none !important;
    color:#737373 !important;

}

body > header > div {
    display: grid;
    grid-template-columns: 20% 55% 25%;
    margin-left: 70px;
    margin-right: 25px;
    justify-content: space-evenly;
    align-items: center;
}

body > header > section {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
}

body > header > section > div {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-left: 70px;
    align-items: flex-start;
}

body > header > section > div > h1,
body > header > section > div > p {
    margin-bottom: 20px;
}

body > header > section > div > button {
    margin-right: 20px;
}

body > header > section > div > button:last-child {
    margin-left: 50px;
}

body > header > section > div > .button-container {
    display: flex;
}

#boton1, #boton2, #boton3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 16px 16px;
    height: 40px;
    width: 150px;
    text-align: center;
}

body > header > div > img{
    display: flex;
    justify-content: end;
}

#boton1 {
    background-color: var(--primary-color);
    color: white;
    border: none;
}

#boton2 {
    background-color: transparent;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

#boton3 {
    background-color: var(--primary-color);
    color: white;
    border: none;
}

body > header > div > ul {
    color: var(--second-text-color);
    list-style: none;
    list-style-type: none;
    display: flex;
}

body > header > div > ul > li  {
    margin-right: 20px;
}

.otherC{
    background-color: #0D5C63;
    color: #FAFAFA;
}

body > section {
    
    display: grid;
    grid-template-columns: auto auto auto;
    display: flex;
    justify-content: space-aroundS;
    height: 100%;
    width: 100%;
}

body > section > div {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    
    
    
    margin: 50px;
    background-color: #FAFAFA;
    padding: 50px;
}

.feactures{
    height: 100% ;
    width: 100% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.status{

    background-size: contain ;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    gap: 20px;
}

.st{
    height: 100px;
    width: 100px;
    margin: 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.practice{
    height: 100% ;
    width: 100% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advices{

    background-size: contain ;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    gap: 20px;
}

.at{
    height: 100px;
    width: 100px;
    margin: 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.agency{
    display: flex;
    justify-content: space-around;
}

.list{
    
    display: flex;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 20%;
    background-color: #252B42;
    color: white;
}

.sp{
   list-style: none; 
   margin-top: 20px;
}

.sp > li {
    margin-top: 20px;
}

.foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social{
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
}
    

